option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: EdgeVoice_Project.backend.app:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role

commands:
  01_install_audio_libs:
    command: "sudo yum install -y ffmpeg libsndfile-devel"
    ignoreErrors: true
